@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.input {
    text-align: center; 
}

.input input {
    font-family: 'Rubik', sans-serif;
    border-radius: 30px;
    font-size: 25px;
    width: 30%;
    border-width: 0;
    outline: 0;
    padding: 7px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.24);
    margin: 20px;
    transition: all 0.4s;
}

.input .calcular {
    background-color: rgb(89, 89, 196);
    color: white;
    width: 20%;
    cursor: pointer;
    transition: all 0.4s;
    font-family: Arial, Helvetica, sans-serif;
}

.input .calcular:hover {
    position: relative;
    top: -3px;
    background-color: white;
    color: rgb(89, 89, 196);
    box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.151);
}

.input .calcularDisabled {
    background-color: rgb(167, 166, 166);
    width: 20%;
}

@media (max-width: 750px) {

    .input input {
        width: 80%;
    }

    .input .calcular {
        width: 50%;
    }

    .input .calcularDisabled {
        width: 50%;
    }

}